@mixin before_circle {
    &:before {
       content: '';
       position: absolute;
       z-index: -1;
       top: -25%;
       left: 0;
       height: 36px;
       width: 36px;
       border-radius: 100px;
       background: $main-color;

    } 
}

@mixin subline {
    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $main_color;
        left: 430px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $main_color;
        right: 430px;
        top: 50%;
        transform: translateY(-50%);
    }
}