.header {
  width: 100vw;
  min-height: 115px;
  background-color: $main-color;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__img {
    .header__logo {
      width: 50%;
    }  } 
  .  
    
  .header__menu {
    display: flex;
    justify-content: space-between;

    

  }
  .header__list {
  }
  .header__link {
  }
}